<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0"><channel><title><![CDATA[markphd]]></title><description><![CDATA[ Learning Front-End Development | Rails, Ruby, HTML5, CSS3, JS, Typography
Mark Philip D. | @mark_is_nil | mark@bashfulcoder.com | Dubai, UAE |]]></description><link>http://blog.bashfulcoder.com</link><generator>NodeJS RSS Module</generator><lastBuildDate>Wed, 07 May 2014 07:45:47 GMT</lastBuildDate><atom:link href="http://blog.bashfulcoder.com/rss/" rel="self" type="application/rss+xml"/><author><![CDATA[markphd]]></author><ttl>60</ttl><item><title><![CDATA[Joy in Teaching]]></title><description><![CDATA[<blockquote>
  <p>In learning you will teach, and in teaching you will learn. 
  -Phil Collins</p>
</blockquote>

<p>I work for a webhosting company and recently our company now offers SSH to customers. To ensure we provide the best support to our customers, our management decided that, we from the 2ndlevel team conduct training to build up their technical skills.</p>

<p>So I was assigned to teach basic command line / SSH. Here's the <a href='https://gist.github.com/markphd/2562177bb4ec3313a6be' >course outline</a>.</p>

<p>Well, what can I say, it was fun! I enjoyed the whole time teaching them the awesomeness you can do in Terminal. Some questions were easy to answer but for the hard ones, good thing there is <code>$ man</code> command. :) </p>

<p>From creating file via <code>touch</code> to editing via <code>nano</code> and uploading using <code>sftp</code>, they witnessed the power of building stuff right at their fingertips. We even connected to MySQL server to demonstrate import/export of large SQL db. </p>

<p>It took me 2 straight hours of talk (1 hr each group) with 5 mins interval but at the end of the day, I smiled because I discovered that there is joy in teaching. :)</p>]]></description><link>http://blog.bashfulcoder.com/joy-in-teaching/</link><guid isPermaLink="false">a927d23c-c792-4590-ba49-59a0a03579f2</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Wed, 16 Apr 2014 08:00:00 GMT</pubDate></item><item><title><![CDATA[One Month of..]]></title><description><![CDATA[<p>Okay so I'm now working on 2 websites, yes Wordpress, but this time its a paid gig. :) So for the whole month of February I spent most of my time customizing the theme, well atleast I was able to hack some PHP files and add custom CSS  to meet client's requests. </p>

<p>Now going back to Ruby, I'm taking an Intro to Rails online course by Skillport (well it was given by my former employer) and I'm liking the challenges presented in the lesson, here's the role playing part:</p>

<blockquote>
  <p>Scenario</p>
</blockquote>

<p>You work for OGC Solutions Inc. that provides software solutions for clients across the globe. Recently, a major client in the banking sector approached your company with a proposal for developing a banking application. The application is to be part of the net banking facility that the client is planning to offer to its customers. It must contain an interactive interface where the customer can make transactions such as depositing the amount, withdrawing the amount and so on. As the team lead of web developers, you need to implement this functionality in your application with the help of Ruby code.</p>

<p>Steps</p>

<ol>
<li><p>Create a new Ruby file named <code>Account.rb</code></p></li>
<li><p>Define the global variable <code>curr_balance</code> to store the current balance in the account, and constants <code>Acc_num</code> and <code>PIN</code> to store the account number and PIN number.</p></li>
<li><p>Prompt the user to enter the account and PIN numbers, get the input from the user, and store them in the global variables <code>acc_num</code> and <code>pin_num</code>.</p></li>
<li><p>Define a <code>while loop</code> for a true condition.</p></li>
<li><p>Define an <code>if statement</code> within the <code>while loop</code> that checks for the values of both the account and PIN numbers.</p></li>
<li><p>Prompt the user to choose from a set of 4 options such as displaying the balance, making a deposit, making a withdrawal, or quitting the application's interface for a true value of the if statement.</p></li>
<li><p>Define an <code>else statement</code> that prompts the user to type in the correct values of the account number and PIN number.</p></li>
<li><p>Within the <code>else</code> condition, prompt the user to enter the account and PIN numbers again.</p></li>
<li><p>Define a <code>redo</code> statement within the <code>while loop</code> to execute the loop again for the new set of inputs for the account number and PIN number.</p></li>
<li><p>In the <code>if statement</code>, store the option selected by the user in the transaction variable.</p></li>
<li><p>Define <code>case....when</code> statements that check for the different values of the transaction variable.</p></li>
<li><p>Define a <code>when statement</code> that displays the current balance in the account for <code>option 1</code> selected by the user.</p></li>
<li><p>Define a <code>when statement</code> for option 2 that contains code to get a deposit amount from the user, add the amount with the current balance, and display the final balance in the account.</p></li>
<li><p>Define a <code>when statement</code> for option 3 that contains code to get the withdrawal amount from the user.</p></li>
<li><p>Define an <code>if...else condition</code> within the <code>when statement</code> that checks whether the withdrawal amount is less or more than the current balance. Also, define code to correspondingly subtract the amount from the current balance if it is less, and display the balance.</p></li>
<li><p>Define a <code>when condition</code> that will display a message indicating that the user has quit the interface.</p></li>
<li><p>Define an <code>else statement</code> that will display a message to the user that he has selected the wrong option.</p></li>
<li><p>Define a <code>redo statement</code> within the else statement to display the menu for the user to choose an option again.</p></li>
<li><p>Save and run the file.</p></li>
</ol>

<p>So there goes my whole February, squeezing in some Ruby challenge in the middle of 48hrs work per week, freelance side projects and commitment to other stuff. I hope to blog more often to track my progress. If you are new to Ruby or Rails, go check out <a href='http://www.thehopefulwebdev.com/' >Joseph Sawyer</a> blog to see what it takes to become a Rails developer.</p>]]></description><link>http://blog.bashfulcoder.com/one-month-of/</link><guid isPermaLink="false">81a05af7-9453-4db5-a649-e14193a7c66b</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Wed, 05 Mar 2014 17:07:11 GMT</pubDate></item><item><title><![CDATA[Designing Sites for Users]]></title><description><![CDATA[<blockquote>
  <p>Survey results show that up to 80% of web users scan web pages for key words and phrases rather than read carefully. It is our responsibility to create a site that allows the user to find the information they seek quickly.  </p>
</blockquote>

<p>A company's website gives the web user a first impression of the business. Ugly websites will cause visitors to leave the site to a more competent one. </p>

<p>General tips used by web designers are:</p>

<ul>
<li>easy to read text
<ul><li>The average person reads 25% more slowly from a computer monitor than from a print. Using text that is easy to read makes for a better web experience.</li></ul></li>
<li>no unnecessary text
<ul><li>Because users scan for specific information, there is no need to force them to read irrelevant text. Good writing and editing optimize text content. </li></ul></li>
<li>no clutter
<ul><li>Content is essential but website layout is just as important.The layout must be easy to understand.</li></ul></li>
<li>easy-to-navigate format
<ul><li>The web user must be able to navigate intuitively through the website. </li></ul></li>
</ul>

<p>Like newspapers, many website features the main content on their front page, but they also provide summaries and directions to the other stories. </p>

<p>The inverted pyramid structure enables the user to view a summary of the content and navigate easily to the story of interest. Also, users don't have to read content that doesn't interest them. They just read their chosen content by clicking the link.</p>

<p>This structure suits the Web, because hyperlinks allow quick access to the relevant story. </p>

<p><em>to be continued..</em></p>

<h4 id="sourceskillportwebdesigncourse">SOURCE:  Skillport Web Design Course.</h4>]]></description><link>http://blog.bashfulcoder.com/designing-sites-for-users/</link><guid isPermaLink="false">349dca24-c187-41da-95ad-3d0c06b6822f</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Wed, 05 Mar 2014 14:42:41 GMT</pubDate></item><item><title><![CDATA[Roadblock]]></title><description><![CDATA[<h3 id="tripadvisory">Trip Advisory</h3>

<p>So where am I? Well I was able to complete Daniel Kehoe's Learn Rails book and successfully <a href='http://blog.bashfulcoder.com/zerub-babel.herokuapp.com' >deployed my app to Heroku</a> and it gave me reason to pursue solid foundation of Ruby language. I picked up the book Everyday Scripting with Ruby as my beginner level guide in exploring the depths of Ruby. I am enjoying everything so far! Also all of the scripts are in <a href='https://github.com/markphd/furry-bear' >this repo</a>. From my previous post, I mentioned taking Pragmatic Studio's Ruby Course, but to give an update, I actually haven't finished it yet. It is stil pending in my To-Do list. I'll give insights about the course as soon as I finish it. So for the couple of days, I'll be spending more time in reading than watching tutorials.   </p>

<h3 id="detouranothergig">Detour: Another Gig</h3>

<p>So to add to my normal learning workflow (2 chapters a day, 1 video tutorial a week), I received a call from a friend asking to build a website for his trading business, well ofcourse I accepted it! I grabbed the opportunity to build the site from scratch, not just to gain money but also to learn more and test my design and development skills. <br />
For the design part, I grabbed Zurb Foundation as my CSS framework of choice, but reading through the documentation got me more confused and I spent hours of coding only to see myself lost and despaired. Good thing I talked to my colleague <a href='http://stephsamson.com/' >Steph</a> in #40DaysOfRuby and she gave me an overview of the framework. We both agreed that the documentation sucks and their training course is just way too expensive. So I decided to search for alternative tutorial and found <a href='http://www.lynda.com/Foundation-tutorials/Up-Running-Foundation/122442-2.html' >Lynda.com's Up and Running with Foundation</a>. I just finished Chapter 2 but I actually learned a lot, I highly recommend it if you want a good foundation with Foundation. [DUH].</p>

<p>Well I don't think I can complete any Rails book or tutorial within the next month. But yeah, if I want to be a web developer then I should start building site as early as now yes?</p>

<p>Let's go and move forward.</p>]]></description><link>http://blog.bashfulcoder.com/roadblock/</link><guid isPermaLink="false">20ad18be-143a-4b30-a842-acfaa24eb205</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Sun, 26 Jan 2014 06:33:35 GMT</pubDate></item><item><title><![CDATA[Ruby Glossary]]></title><description><![CDATA[<h1 id=""> </h1>

<h2 id="a">A</h2>

<p><code>abstraction</code> - Is the process of developing a simple representation of a complex object.  </p>

<p><code>array</code> - Collection of objects, strings, or a numeric values, or a combination of one or more of these.</p>

<h2 id="b">B</h2>

<p><code>block</code> - A set of code that is defined with curly braces ( {} )</p>

<p><code>break statement</code> - A Ruby statement that is used to exit a specified loop in which it is defined.</p>

<h2 id="c">C</h2>

<p><code>case...when statement</code> - Conditional statements in Ruby where an expression specified in the <code>case</code> statement is compared  to the conditions specified in the <code>when</code> statements.</p>

<p><code>child class</code> - A class that derives it's properties from an existing class.</p>

<p><code>class</code> - A template used to create objects that have similar attributes and behaviors.</p>

<p><code>COC</code> - (Convention Over Configuration) A principle followed in Rails that enables Ruby application to run successfully without using a configuration file.</p>

<p><code>comments</code> - Language constructs used in source code for a programmer's understanding.</p>

<p><code>constant</code> - A storage location whose value does not change in a program.</p>

<p><code>controller phase</code> - A phase in MVC architecture that is responsible for maintaining the interaction between users and their view. </p>

<h2 id="d">D</h2>

<p><code>DRY</code> - (Don't Repeat Yourself) A principle that helps avoid code duplication and redundancy in the Ruby application.</p>

<h2 id="e">E</h2>

<p><code>encapsulation</code> - A mechanism used to hide details about the attributes and behaviors described in a class from other objects. </p>

<p><code>exception</code> - A programming construct that is used to handle errors that may occur during a program's execution.</p>

<p><code>Exception class</code> - The main class in Ruby that is used to handle exceptions thrown during a program's execution.</p>

<h2 id="f">F</h2>

<p><code>file class</code> - A class that provides a large set of Input/Output (IO) methods to create and manipulate operations in a file.</p>

<p><code>for statement</code> - An iteration statement in Ruby that is used to execute a code block for a specified number of times.</p>

<h2 id="g">G</h2>

<h2 id="h">H</h2>

<p><code>hash</code> - A structure that can hold a collection of values with respective key-value pairs.</p>

<h2 id="i">I</h2>

<p><code>if modifier</code> - A statement modifier that behaves similar to an <code>if statement</code> in Ruby</p>

<p><code>if statement</code> - A conditional statement in Ruby that executes a block of code after checking for a given condition.</p>

<p><code>include statement</code> - A programming statement in Ruby that is used to embed a module inside a class.</p>

<p><code>inheritance</code> - The ability of a class to inherit or derive attributes and behaviors from another class.</p>

<p><code>instance</code> - Any object that is derived from a class.</p>

<p><code>instance variable</code> - A variable that is associated with an object. The instance variable begins with the @ sign.</p>

<p><code>Interactive Ruby shell</code> - The interactive interface of Ruby Interpreter where the user can type commands or programs in Ruby.</p>

<p><code>iterator</code> - A method that is supported by objects which can store a finite set of data members.</p>

<h2 id="j">J</h2>

<h2 id="k">K</h2>

<h2 id="l">L</h2>

<h2 id="m">M</h2>

<p><code>method</code> - A group of statements in a program that are used to perform a specific function. </p>

<p><code>Migration</code> - A Ruby program that helps manipulate databases in Rails.</p>

<p><code>mixins</code> - A construct in Ruby that allows you to use its code inside another class or module.</p>

<p><code>model phase</code> - A phase of the MVC architecture where information of the application's logic is managed such that any changes made to it are notified to the users. </p>

<p><code>modules</code> - A part of program code which includes methods, classes, and constants that collectively perform a function.</p>

<p><code>multithreading</code> - A programming concept where several tasks in a program are executed in parallel with the help of threads. </p>

<p><code>Mutex class</code> - A class that provides mutual exclusion to threads in a program. </p>

<p><code>MVC</code> - (Model-View-Controller) An architecture that defines a pattern in which an application's logic, its working and functionality, and enhancement and maintenance are carried out in three phases: model, view, controller.</p>

<h2 id="n">N</h2>

<p><code>next statement</code> - A Ruby statement that is used to skip the current iteration and execute the next iteration in the loop.</p>

<h2 id="o">O</h2>

<p><code>oject</code> - A representation of an entity of the real world. </p>

<p><code>operators</code> - Symbols used to perform actions on specific values to produce a result. </p>

<p><code>ORM</code> - (Object Relational Mapping) A type of mapping that enables users to manipulate the database in an application.</p>

<h2 id="p">P</h2>

<p><code>parent class</code> - An existing class from which the properties are derived by a new class.</p>

<p><code>plug-ins</code> - Pieces of code written by developers to provide specific functionalities to web applications.</p>

<p><code>polymorphism</code> - The ability to assign different uses to an entity under different contexts. </p>

<p><code>pseudo-variable</code> - A special type of varialbe in Ruby that behaves like a constant.</p>

<h2 id="q">Q</h2>

<h2 id="r">R</h2>

<p><code>raise statement</code> - A Ruby statement that is used to raise an exception in a program.</p>

<p><code>Rake</code> - A software tool that is used to perform build operations in Rails.</p>

<p><code>redo statement</code> - A Ruby statement that is used to repeat a particular iteration in a loop.</p>

<p><code>require statement</code> - A Ruby statement that is used to include any required file or files that would provide support to program code.</p>

<p><code>rescue statement</code> - A Ruby statement that contains code that handle different types of of exceptions.</p>

<p><code>reserved keywords</code> - Specified words in Ruby that have a predefined meaning to the Ruby Interpreter.</p>

<p><code>retry statement</code> - A Ruby statement that is used to restart the execution of an entire loop again.</p>

<p><code>retry</code> - A Ruby statement that is used to execute a block of code again.</p>

<p><code>Ruby gems</code> - A package management system that supports software code libraries used in Ruby.</p>

<h2 id="s">S</h2>

<p><code>Scaffolding</code> - A tool in Rails that enables you to create a simple interface to manipulate a database.</p>

<p><code>string</code> - Is an object that contains a sequence of bytes representing a single character of block of characters. </p>

<p><code>struct class</code> - A built-in class that allows you to club attributes and properties using accessor methods without creating an explicit class.</p>

<p><code>synchronize() method</code> - A method of the Mutex class that is used to lock a thread to a specific resource in a program.</p>

<h2 id="t">T</h2>

<p><code>time class</code> - A class that is used to retrieve date and time of a specific instance.</p>

<h2 id="u">U</h2>

<p><code>unless modifier</code> - A statement modifier that behaves similar to the unless statement in Ruby.</p>

<p><code>unless...else statement</code> - A conditional statement that keeps executing a code block for a false value of the unless condition.</p>

<p><code>until modifier</code> - A statement modifier that behaves similar to <code>until statement</code> in Ruby.</p>

<p><code>until statement</code> - A looping statement in Ruby that executes a block of code until a specified condition becomes true.</p>

<h2 id="v">V</h2>

<p><code>variables</code> - Are a storage location that stores specific data needed while programming.</p>

<p><code>view phase</code> - A phase of the MVC architecture where interactivity between the user and model persists.</p>

<h2 id="w">W</h2>

<p><code>while modifier</code> - A statement modifier that behaves similar to the <code>while statement</code>.</p>

<p><code>while statement</code> - A looping statement that is used to execute a set of code for a specified number of times after checking a given condition.</p>

<h2 id="x">X</h2>

<h2 id="y">Y</h2>

<p><code>yield</code> - A Ruby statement that is used within a method to invoke a block in Ruby program.</p>

<h2 id="z">Z</h2>

<h2 id="misc">MISC</h2>

<p><code>.yml file</code> - A YAML file that is generated when a database is created for a Ruby application.</p>]]></description><link>http://blog.bashfulcoder.com/ruby-glossary/</link><guid isPermaLink="false">6ec68030-f5b9-45c8-9f3b-263b95add035</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Mon, 13 Jan 2014 17:21:35 GMT</pubDate></item><item><title><![CDATA[Ruby Course]]></title><description><![CDATA[<blockquote>
  <p>To develop your proficiency as a Rails developer, I hope you will make an effort to learn Ruby as you learn Rails. -Daniel Kehoe</p>
</blockquote>

<p>I have been actively learning Ruby with the help of people from <a href='http://blog.bashfulcoder.com/www.reddit.com/r/40DaysofRuby/' >/r/40DaysOfRuby</a> for the past few days and it really helps me battle my loneliness in this journey, it sucks to be alone! Here are my <a href='https://github.com/markphd/40daysOfRuby' >Ruby codes</a> submitted for our assignments.</p>

<p>So I recently stumbled upon this <a href='http://rubycon.rkcudjoe.com/become-a-ruby-developer/' >post</a> about becoming a Ruby developer for less than $700. It is challenging to know that there are lots of things to do to become a Ruby developer. Here are excerpts from the article:</p>

<ul>
<li>Understand and use Ruby Language Constructs.
Write Object-Oriented programs.  </li>
<li>Understand, explain, and apply Object-Oriented Design Principles such as Encapsulation, Separation of Concerns, Polymorphism, Don't Repeat Yourself (DRY), and Tell, Don't Ask.</li>
<li>Use Blocks and Iterators effectively in your Ruby programs.</li>
<li>Organize you Ruby code for reuse, unit testing and distribution.</li>
<li>Provide Input/Output support for your applications.</li>
<li>Write and run Unit Tests with RSpec.
Package and distribute your code as gems. <br />
Use proper Ruby Programming Idioms throughout Ruby programs.</li>
</ul>

<p>Plus you have to shell out some money for books, online course, resources, bootcamp, workshop, etc. It is quite expensive for me but I count it as investment. Just a month ago, there was Ruby on Rails workshop offered here in Dubai. It was 350 AED for 1 night and 1 whole day event. I quickly signed up and paid for it but due to lack of attendees, the event was cancelled. It was an opportunity for me to learn from an actual human being but I guess I'm down to myself again. :( </p>

<p>Now I'm taking <a href='http://blog.bashfulcoder.com/pragmaticstudio.com/ruby' >Pragmatic Studio's Ruby Course</a> as my official class / workshop. , it is my desire to complete it and understand everything to get solid foundation of the Ruby language.</p>

<p>Time to get moving!</p>]]></description><link>http://blog.bashfulcoder.com/ruby-course/</link><guid isPermaLink="false">4c80942c-2770-45d2-aa97-198fe9a95c56</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Mon, 06 Jan 2014 03:47:17 GMT</pubDate></item><item><title><![CDATA[Thoughts about learning.]]></title><description><![CDATA[<blockquote>
  <p>The first step in learning how to learn anything is to learn your own asset and liabilities -- "know thyself."</p>
</blockquote>

<p>For the past 2 years, I tried hard enough to become a <a href='http://betterfrontend.com/' >better front-end developer</a>. My goal was to acquire <a href='http://betterfrontend.com/guides/' >skills required</a> to become BFED. But then I didn't know where to start. So my first step was to watch a tutorial by Michael Hartl. I finished the course and was able to deploy an app but it still felt like there was no gain. I found myself clueless in a lot of things (MVC, TDD, BDD, OOP, Metaprogramming, etc.). Then there was Postgres, Node.js, NoSQL, MongoDB and the list went on..</p>

<p>Following the right people in Twitter, I discovered that self-learners like me dedicate significant amount of their time mastering the craft of coding. As <a href='https://twitter.com/natashatherobot' >@natashatherobot</a> said, </p>

<blockquote>
  <p>Learning to program takes a lot of time and dedication. If you are really passionate about learning to code so you can build stuff, think of it as more of a 10 year goal versus a one day or even a one year goal.</p>
</blockquote>

<p>.. and this was exactly <a href='http://www.attendly.com/the-noob-who-thought-programming-was-easy-a-reaction-gif-story-friday-funnies-episode-22/' >my story</a> when I started.</p>

<p>One of the stumbling blocks I faced was the idea of 'Learning Ruby in 24 hours' or 'Learn Rails in 2 weeks' giving me false hope that I can be a developer in a flash. And so as an effect, I didn't push myself hard enough. I just tell myself 'Hey, that's easy! I'll start next week!' or worse 'Rails for ONLY two weeks?? sweet! there's more time to gain karma'. It goes downhill from there. My momentum slowed down faster than you can imagine. It was the beginning of the great procrastination. </p>

<p>But now that I know myself well. I have fully identified my strengths and weaknesses that will help me achieve my dream job. I know it takes 10,000 hours to master a craft, but why quit if you have taken a thousand already.</p>

<p>These are some of my online resources: <br />
1. <a href='http://blog.nicoschuele.com/?p=150' >How to seriously teach yourself web development</a> <br />
2. <a href='https://tutorials.railsapps.org/rails-tutorial' #">Learn Rails tutorials</a> <br />
3. <a href='http://blog.nicoschuele.com/?p=186' >A path to learn Rails 4 properly</a></p>

<p>Now I need to get back to work and study harder!</p>]]></description><link>http://blog.bashfulcoder.com/thoughts-about-learning/</link><guid isPermaLink="false">bb837acb-4712-4644-aa3e-9a72d8b0e5af</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Thu, 19 Dec 2013 01:59:46 GMT</pubDate></item><item><title><![CDATA[First Encountered Error]]></title><description><![CDATA[<p>In my quest in finishing the Learn Rails book, which is available <a href='http://learn-rails.com/' >here</a>, I have gone through upgrading from Snow Leopard to OS Mavericks to successfully use Ruby 2.0 and Rails 4.0 as prerequisite in the book. It took  me some time to complete the update but I can say it was one of the most painless system update I have done. Following the Rails installation guide provided in the book was chicken feed. Everything went well until I reached  page 96. </p>

<p><img src='https://dl.dropboxusercontent.com/s/bjqx6k6aexzncnz/Screenshot%202013-12-13%2020.41.16.png?dl=1&amp;token_hash=AAH3C48eRolTJpOnT5AMdtdSICYFiBs211FVqT0azi8nng'  alt="error" /></p>

<p>I have tried <code>gem bundle install</code> and <code>rvm reinstall ruby-2.0.0-p195</code> but no luck.</p>

<p>So I checked <code>rvm list</code> and found three instances of Ruby in different patches. My immediate reaction was to set the default Ruby that completely works fine by running this command <code>rvm --default use 2.0.0-p195</code>. Then I ran <code>gem bundle install</code> and <code>sudo gem install rails</code>.</p>

<p>Not sure if it has something to do with <a href='http://ghost.org/' >Ghost</a> and <a href='https://github.com/axitkhurana/buster' >Buster</a>. I really hope not but I have a feeling that my local dev is screwed up. </p>

<p>UPDATE: After trying different workarounds presented in StackOverflow, I finally managed to fix it once and for all. Thanks a million for this blog <a href='http://www.mattburkedev.com/overcoming-ruby-error-sha1-bundle-not-loaded/' >post</a>.</p>]]></description><link>http://blog.bashfulcoder.com/first-encountered-error/</link><guid isPermaLink="false">71b1f00a-2f67-41b6-b4cc-83f4dae48bd5</guid><dc:creator><![CDATA[markphd]]></dc:creator><pubDate>Sat, 14 Dec 2013 00:27:45 GMT</pubDate></item></channel></rss>